---
layout: page
title: Blog
permalink: /blog/
---
<section class="blog">
	<section class="hero hero-blog">
		<header>
			<h1>Promoting Japanese Culture</h1>
			<h2>One meeting at a time</h2>
		</header>
		{% include scroll.html %}
	</section>
	<div class="container">
		<div class="row">
			{% for post in site.posts %}
				<h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			{% endfor %}
		</div>
	</div>
	<section class="hero hero-blur">
		<header>
			<h2>Does Japan Club sound fun?</h2>
			<a class="cta" href="/next/">Get involved in the next meeting</a>
		</header>
	</section>
</section>