---
layout: page
title: Officers
permalink: /officers/
isOfficersPage: true
---
<section class="officers">
	<section class="hero hero-office">
		<header>
			<h1>Japan Club Officers</h1>
			<h2>2015&ndash;2016 School Year</h2>
		</header>
		{% include scroll.html %}
	</section>
	<div class="container">
		{% include officers.html officers=site.data.officers %}
	</div>
	<section class="hero hero-blur">
		<header>
			<h2>Interested in becoming an officer?</h2>
			<a class="cta" href="/next/">Speak up at the next meeting</a>
		</header>
	</section>
</section>
