---
layout: page
title: Next meeting
permalink: /next/
cta: true
---
<section class="next">
	<section class="hero hero-next">
		<header>
			<h1>Be a part of the next meeting</h1>
			<h2>Sign up for updates with Remind</h2>
		</header>
		{% include scroll.html %}
	</section>
	<div class="container">
		<div class="row">
			<h4>Sign up for notifications</h4>
			<p class="no-margin">Club notifications for the RHS Japan Club are proudly sponsored by Remind (formerly Remind101). To receive SMS notifications from us, you should text the message <code>@japanclub2</code> to the number <code>81010</code>.</p>
		</div>
		<div class="row">
			<h4>Past Meetings</h4>
			<table class="u-full-width">
				<thead>
					<tr>
						<th>Date</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					{% for meeting in site.data.meetings %}
					<tr>
						<td>{{ meeting[0] }}</td>
						<td>{{ meeting[1] }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>
