$cPrimary: #C70025;
$cBack: #333;
a {
    color:$cPrimary;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    &:hover {
        color: lighten($cPrimary, 30%);
    }
}

html{overflow-y:scroll;}
::-webkit-scrollbar{width:0.85rem;}
::-webkit-scrollbar-track-piece{background:rgba($outerspace, 0.4);}

// Site header
.site-header {
    border-bottom: 0.1rem solid $outerspace;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    //background: $cBack;
    .container {
        max-width: 1280px;
    }
    a {
        padding: 1rem;
        display: inline-block;
        text-decoration: none;
    }

}
