$cPrimary: #C70025;
$cBack: #333;

::selection{ background: rgba($cPrimary, 0.4); }
::-moz-selection { background: $cPrimary; }

a {
    color:$cPrimary;
    transition: color 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    &:hover {
        color: lighten($cPrimary, 30%);
    }
}
img{max-width:100%;}
.container {
    a {
        text-decoration: none;
    }
}
.text-center {text-align:center;}
.no-margin{margin: 0}
.row{padding-top:2rem;padding-bottom:2rem;}
.no-padding-bottom{padding-bottom:0;}
blockquote{font-style:italic}
.post-content {
    img {
        display: block;
        margin: 0 auto;
    }
}

/************** Page-Specific Styles **************/
// Officers Page
.officers {
    .container{margin-bottom:2rem;}
}

// Next Page
.next {

}

// Home Page
.home {
    .wrapper {
        background: #f6f6f6;
    }
    object {
        max-width: 100%;
        width: 5rem;
    }
    .center-each {
        padding-top: 3rem;
        a {
            text-decoration: none;
            font-weight: bold;
            color: inherit;
        }
        .columns {
            text-align: center;
        }
        h5 {
            margin-bottom: 1rem;
        }
        object {
            margin: 0 auto;
        }
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; }
.text-center { text-align: center; }

html{overflow-y:scroll;overflow-x:hidden;}
body{color:#393d40;}
//::-webkit-scrollbar{width:0.85rem;}
//::-webkit-scrollbar-track-piece{background:rgba($outerspace, 0.4);}

// Site header
.site-header {
    position: fixed;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.8rem;
    //background: $cBack;
    //background-image: linear-gradient(-180deg,#323232 0,#323a45 100%);
    width: 100%;
    z-index: 9999;
    background:#fff;
    top: 0;
    transition: all 0.4s ease-in-out;
    .container {
        max-width: 1280px;
    }
    a {
        padding: 1rem;
        display: inline-block;
        text-decoration: none;
    }
    .cta {
        background: $cPrimary;
        color: #fff;
        border-radius: 0.3rem;
        font-weight: 600;
        margin-left: 1rem;
        transition: all 0.3s ease-in-out;
        &:hover {
            background: darken($cPrimary, 5%);
        }
    }
    .logo {
        // Fix positioning in nav bar
        margin-top: -1.75rem;
    }
    
    // For mobile devices, only show the logo
    @media screen and (max-width: 54.9rem) {
        .u-pull-right {
            display: none;
        }
        .site-nav {
            width: 100%;
            text-align: center;
        }
    }

}

.nav-spacing {
    padding-bottom:11.8rem;
}

// Site footer
.site-footer {
    padding-top: 1rem;
    background: #2d3033;
    color: #aebdc1;
    .logo {
        color: #aebdc1;
        &:hover {
            color: #fff;
        }
    }
    a:not(.logo) {
        text-decoration: none;
        color: #aebdc1;
        font-weight: 600;
        &:hover {
            color: #fff;
        }
    }
    p {
        margin-bottom: 0.5rem;
    }
    .columns:first-of-type {
        border-right: 0.1rem solid #666;
        @media screen and (max-width: 54.9rem) {
            border-right: none;
        }
        @media screen and (max-width: 80rem) {
            text-align: center;
            padding-bottom: 1.5rem;
        }
    }
    .row:first-of-type {
        @media screen and (max-width: 80rem) {
            padding-bottom: 0;
        }
    }
}

// Hero images
.hero-office{background: url($cdn + "/images/hero/office.jpg");height:30rem;}
.hero-next{background: url($cdn + "/images/hero/next.jpg");height:50rem;}
.hero-blog{background: url($cdn + "/images/hero/blog.jpg");height:73.5rem;}
.hero-blur {
    background: url($cdn + "/images/hero/blur.jpg");
    height:25rem;
    header {
        a.cta {
            background: #fff;
            border: 0.1rem solid #393d40;
            color: #393d40;
            text-shadow: none;
            padding: 1.5rem 3rem;
            transition: all 0.3s ease-in-out;
            &:hover {
                background: darken(#fff, 10%);
            }
        }
    }
}
.hero-japan{background: url($cdn + "/images/hero/japan.jpg");height:88rem;}
.hero-404{background: url($cdn + "/images/hero/404.jpg");height:88rem;}
.hero-about{background: url($cdn + "/images/hero/about.jpg");height:50rem;}

.hero {
    // Only animate the first hero section on the page
    &:first-of-type {
        @extend .animated;
        @extend .fadeIn;
        header {
            h1 {
                @extend .animated;
                @extend .flipInX;
            }
            h2 {
                @extend .animated;
                @extend .fadeInUp;
            }
            .cta {
                @extend .animated;
                @extend .fadeIn;
                margin-top: 0.5rem;
                -webkit-animation-delay: 1.2s;
                animation-delay: 1.2s;
                text-shadow: none;
                background: $cPrimary;
                border: none;
                font-size: 2rem;
                padding: 1.5rem 3rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    background: darken($cPrimary, 5%);
                }
            }
        }
    }
    background-size:cover;
    position:relative;
    margin-bottom: 2rem;
    // Commenting this out for now. It may be useful later, although I'm not sure.
//     &.hero-japan {
// 			background-position: center center;
// 			background-repeat:  no-repeat;
// 			background-attachment: fixed;
// 			background-size:  cover;
// 			background-color: #999;
//     }
    &.hero-japan, &.hero-blur, &.hero-404 {
        margin-bottom: 0;
        &:not(.hero-blur) {
            .cta {
                margin-top: 1.25rem;
            }
        }
    }
    &.hero-japan {
        header {
            top: 45%;
        }
    }
    &.hero-404 {
        header {
            top: 40%;
        }
    }
    .cta {
        display: inline-block;
        text-shadow: 0.05rem 0.05rem 1.6rem #000;
        font-size: 1.8rem;
        padding: 2rem 4rem;
        text-decoration: none;
        background: rgba($cPrimary, 0.5);
        border: 0.1rem solid $cPrimary;
        color: #fff;
        border-radius: 0.3rem;
        font-weight: 600;
        margin: 0 2rem;
        transition: none;
        &:hover {
            background: rgba(darken($cPrimary, 5%), 0.5);
        }
    }
    .bottom {
        position: absolute;
        bottom: 2rem;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
    header {
        position:absolute;
        top:50%;
        text-align:center;
        width:100%;
        color:#fff;
        -ms-transform: translate(0,-50%); /* IE 9 */
        -webkit-transform: translate(0,-50%); /* Safari */
        transform: translate(0,-50%);
        h1,h2,h3,h4,h5,h6 {
            font-weight: 600;
            text-shadow: 0.1rem 0.1rem 0.8rem #000;
            letter-spacing: 0.1rem;
        }
        h1 {
            font-size: 6rem;
            @media screen and (max-width: 54.9rem) {
                font-size: 5rem;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
            }
            -webkit-text-stroke: 0.15rem black;
        }
        h2 {
            font-size: 4rem;
            @media screen and (max-width: 54.9rem) {
                font-size: 3rem;
                padding-left: 1rem;
                padding-right: 1rem;
            }
            -webkit-text-stroke: 0.05rem black;
        }
    }
    .scroll {
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0.5;
        a {
            display: inherit;
            font-size: 6rem;
            text-align: center;
            margin: 0 auto;
            color: rgba(#fff, 0.8);
            max-width: 5rem;
            text-shadow: 0.1rem 0.1rem 0.8rem rgba(#000, 0.5);
            -webkit-text-stroke: 0.15rem rgba(black, 0.5);
            @extend .animated;
            @extend .fadeInDown;
            -webkit-animation-duration: 1s;
            -webkit-animation-delay: 1.8s;
            animation-duration: 1s;
            animation-delay: 1.8s;
            text-decoration: none;
            position:relative;
            left:-0.8rem;
            &:hover {
                color: rgba(#fff, 1);
                text-shadow: 0.1rem 0.1rem 0.8rem rgba(#000, 1);
                -webkit-text-stroke: 0.15rem rgba(black, 1);
            }
        }
    }
    @media screen and (max-width: 80rem) {
        &.hero-blur {
            // Border hack to get absolute positioning with padding to work
            // Ref: http://stackoverflow.com/questions/17115344/
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
        }
    }
}

// Site logo
.logo {
    // Generic Styles
    outline: none;
    text-decoration: none;
    position: relative;
    line-height: 1;
    color: #333;
    display: inline-block;
    
    // Main show
    font-family: 'Lobster Two', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
    padding: 0 10px 20px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;

    // Span text
    span {
        font-size: 40%;
        font-weight: 400;
        position: absolute;
        right: 0;
        color: #e53369;
        bottom: -0.5rem;
        opacity: 0.75;
        -webkit-transform: translate3d(-0.5rem,0.5rem,0);
        transform: translate3d(-0.5rem,0.5rem,0);
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
    }

    &:hover {
        color: #1e1a1b;
        span {
            opacity: 1;
            -webkit-transform: translate3d(-1rem,0.2rem,0);
            transform: translate3d(-1rem,0.2rem,0);
        }
    }
    // Return the logo to its default positioning and color on click
    &:focus {
        color: #333;
        span {
            opacity: 0.75;
            -webkit-transform: translate3d(-0.5rem,0.5rem,0);
            transform: translate3d(-0.5rem,0.5rem,0);
        }
    }
    
    // Optimize logo for smaller devices
    @media screen and (max-width: 54.9rem) {
        span {
            bottom: 0.5rem;
        }
        
        margin: 0 auto;
    }
}
// Handle the switching of columns for smaller viewports of officers
// Autoprefix CSS to make sure that older browsers
// can at least try to support flexbox!
@media screen and (max-width: 54.9rem) {
    .reverse {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
                flex-direction: column;

        > div:first-child {
            -webkit-box-ordinal-group: 3;
            -webkit-order: 2;
            -ms-flex-order: 2;
            order: 2;
        }
        > div:last-child {
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
        }
    }
}

// Change the hero image size based on the window size
@media screen and (max-width: 54.9rem) {
    .hero-japan {
        height: 55rem;
    }
    .site-header .row {
        padding: 0.5rem;
    }
    .nav-spacing {
        padding-bottom: 5.5rem;
    }
}