---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<section class="hero hero-office">
		<header class="post-header">
			<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
			<h2>Random subtitle just to look cool!</h2>
		</header>
		{% include scroll.html %}
	</section>
	<div class="container">
	  <div class="row">
		<div class="post-content nine columns" itemprop="articleBody">
			<h1>{{page.title}}</h1>
			{{ content }}
		</div>
		<aside class="three columns">
			<ul class="post-meta">
				<li>
					<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
				</li>
				{% if page.author %}<li>
					<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
				</li>{% endif %}
			</ul>
		</aside>
	  </div>
	</div>
	<section class="about-the-author">
		<div class="container">
			<div class="row">
				{% assign authorCount = page.authors | size %}
				{% if authorCount == 0 %}
					<p>Uh oh, that's a no-go. Looks like someone forgot to add an author to this post.</p>
				{% else %}
					<h4>About The Author{% if authorCount > 1 %}s{% endif %}</h4>
					{% comment %} <!-- We assign doReverse to be true here since it is more logical to begin --> {% endcomment %}
					{% comment %} <!-- the authors directly below the left-aligned header from the left section. --> {% endcomment %}
					{% assign doReverse = true %}
					{% for author in page.authors %}
					
						{% assign n = site.data.officers[author] %}
						{% include officer.html o=n %}
						
						{% if doReverse == true %}
							{% assign doReverse = false %}
						{% else %}
							{% assign doReverse = true %}
						{% endif %}
						
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</section>
	<section class="hero hero-blur">
		<header>
			<h2>Does Japan Club sound fun?</h2>
			<a class="cta" href="/next/">Get involved in the next meeting</a>
		</header>
	</section>
</article>
